@charset "UTF-8";

.delete {
	font-weight: bold; /*太字に*/
	text-decoration: none; /*下線消す*/
	background: skyblue; /*背景を水色に*/
	color: white; /*文字を白に*/
	padding: 5px 10px; /*内側の余白*/
	border-radius: 20px; /*角を丸くする*/
	font-family: 'Avenir', 'Arial'; /*フォントをいい感じに*/
}

